# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.egg
*.egg-info/
.eggs/

# =====================================
# IDE / Editor
# =====================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================================
# System
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Virtual environment
# =====================================
.venv/
env/
ENV/
venv/

# =====================================
# Логика проекта (чувствительные данные)
# =====================================
# База данных
/database/

# Токен бота
utils/token.env

# Логи и временные файлы (если есть)
logs/
*.log

# Файлы кэша
**/__pycache__/
**/*.py[cod]

# =====================================
# Бэкап/тестовые файлы (если создаёшь вручную)
# =====================================
*.bak
*.tmp
